﻿
@*Cette vue doit afficher la liste des joueurs*@
@model List­<Joueur>
@{
    ViewData["Title"] = "Liste des joueurs";
}
<body>
    <h1>Tous les joueurs</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    No. de joueur
                </th>
                <th>
                    Nom
                </th>
                <th>
                    Prenom
                </th>
                <th>
                    Équipe
                </th>
                <th>
                    Téléphone
                </th>
                <th>
                    Courriel
                </th>
                <th>
                    Jeux
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (Joueur joueur in Model)
            {
                <tr>
                    <td><>@joueur.Id</></td>
                    <td>@joueur.Nom</td>
                    <td>@joueur.Prenom</td>
                    <td>@joueur.Equipe</td>
                    <td>@joueur.Telephone</td>
                    <td>@joueur.Courriel</td>
                    <td>
                        <ul>
                            @if(joueur.Jeux != null){
                                @foreach(var item in joueur.Jeux)
                                {
                                    <li>@item.Nom</li>
                                }
                            }
                        </ul>
                    </td>
                    <td><a asp-controller="Joueur" asp-action="Modifier" asp-route-id="@joueur.Id" class="btn btn-secondary">Modifier</a></td>
                    <td><a asp-controller="Joueur" asp-action="Supprimer" asp-route-id="@joueur.Id" class="btn btn-danger">Supprimer</a></td>
                </tr>
            }
        </tbody>
    </table>
</body>