﻿@model Joueur
@{
    ViewData["Titre"] = "Modifier un joueur";
}
<div class="row">
    <form asp-controller="Joueur" asp-action="Modifier" method="post" enctype="multipart/form-data">
        <div class="form-group row m-2">
            <label asp-for="Id" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Id" class="form-control" value="@Model.Id" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row m-2">
            <label asp-for="Nom" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Nom" class="form-control" value="@Model.Nom"/>
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row m-2">
            <label asp-for="Prenom" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Prenom" class="form-control" value="@Model.Prenom"/>
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row m-2">
            <label asp-for="Equipe" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Equipe" class="form-control" value="@Model.Equipe"/>
                <span asp-validation-for="Equipe" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row m-2">
            <label asp-for="Telephone" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Telephone" class="form-control" value="@Model.Telephone"/>
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row m-2">
            <label asp-for="Courriel" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Courriel" class="form-control" value="@Model.Courriel"/>
                <span asp-validation-for="Courriel" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group row col-sm-3 m-5 mx-auto">
            <input type="submit" value="Enregistrer modfications" class="form-control btn btn-success btn-lg" />
        </div>
    </form>
</div>
  @section JQueryValidationScripts {
      <partial name="_ValidationScriptsPartial" />
  }