﻿@model Joueur

<h2>Supprimer le joueur #@Model.Id</h2>

<div class="alert alert-warning" role="alert">
    Êtes-vous sûr de vouloir supprimer ce joueur ?
</div>
<div>
    <a asp-controller="Joueur" asp-action="Index" class="btn btn-secondary">Annuler</a>
</div>
<form asp-controller="Joueur" asp-action="Supprimer" asp-route-id="@Model.Id" method="post" class="w-50 m-5">
    <div>
        <input type="submit" value="Confirmer" class="btn btn-danger" />
    </div>
</form>
@*TODO: Complétez cette vue de façon à  
        confirmer ou annuler la supression*@

